@import "./assets/sass/abstracts/mixins";

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-white: #fff;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-wrong: #f5222d;
  --color-red-light-1: #ffa39e;
  --color-red-light-2: #fff1f0;
  --color-right: #52c41a;
  --color-green-light-1: #b7eb8f;
  --color-green-light-2: #f6ffed;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 55%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #777;
  background-size: cover;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}