@import "../../assets/sass/abstracts/mixins";

.narrow_down {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 2rem auto;
}

.block {
  display: block;
  background-color: white;
  padding: 2rem 5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-grey-dark-2);
  transition: all 0.5s;

  @include respond(tab-port) {
    width: 100%;
  }

  &:hover {
    box-shadow: 3px 3px 12px rgba(#333, 0.5);
    transform: translateY(-0.7rem);
  }

  @include respond(phone) {
    &:last-child {
      margin-bottom: 20rem;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  height: 4rem;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;
    border: 1px solid var(--color-grey-light-3);
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  &__label {
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--color-grey-light-2);
  }
}

.prehash,
.hash {
  font-size: 1.2rem;
}

.prehash {
  display: flex;
  align-items: center;
  padding: 0.7rem 0;

  &__title {
    margin-right: 2rem;
  }

  &__value {
    overflow: hidden;

    @supports (overflow-wrap: break-word) {
      overflow-wrap: break-word;
    }

    &-right {
      color: var(--color-right);
    }

    &-wrong {
      color: var(--color-wrong);
    }
  }
}

.hash {
  display: flex;
  padding: 0.7rem 0;
  align-items: stretch;

  &__title {
    margin-right: 2rem;
  }

  &__value {
    flex: 1;
    display: flex;
    padding: 0 2rem;
    border-radius: 4px;
    overflow: hidden;

    @supports (overflow-wrap: break-word) {
      overflow-wrap: break-word;
    }

    &-right {
      color: var(--color-right);
      background-color: var(--color-green-light-2);
      border: 1px solid var(--color-green-light-1);
    }

    &-wrong {
      color: var(--color-wrong);
      background-color: var(--color-red-light-2);
      border: 1px solid var(--color-red-light-1);
    }
  }
}

.detail {
  display: flex;
  align-items: flex-end;
}

.index {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.timestamp {
  font-size: 1rem;
  margin-right: auto;
}

.nonce {
  border: 1px solid var(--color-grey-dark-2);
  padding: 5px;
  border-radius: 5px;
  width: 7rem;
  height: 4rem;
  font-size: 1.5rem;
  text-align: center;
}

.fix {
  background-color: var(--color-primary-dark);
  border: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-primary-light);
  }


}

.fix_icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-white);
}

.fix:hover {
  transform: scale(1);
}

.faded-enter {
  opacity: 0;
}

.faded-enter-active {
  animation: appear 0.6s ease-out forwards;
}

.faded-exit {
  opacity: 1;
}

.faded-exit-active {
  animation: appear 0.4s ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}